<%= partial "partials/header" %>
<div class="container">
  <div class="part01">
    <%= partial "partials/box-model" %>
    <%= partial "partials/position" %>
  </div>

  <div class="part02">
    <%= partial "partials/floats" %>
    <%= partial "partials/bullets" %>
  </div>

  <div class="part03">
    <%= partial "partials/display" %>
  </div>

  <div class="part04">
    <%= partial "partials/borders" %>
    <%= partial "partials/transforms" %>
  </div>
</div>
<div class="part05">
  <%= partial "partials/overflow" %>
</div>

<div class="container">
  <%= partial "partials/footer" %>
</div>
